/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
h4, h1, h2, h3 {margin: 0;}
ul {margin: 0;}
p {margin: 0;}
html, body{
  font-family: 'Open Sans', sans-serif;
   font-size: 100%;
   background:#fff; 
   overflow-x : hidden;
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration:none;
}
a:focus {
    outline: none;
}
tr:nth-child(odd) {
	background : #fff;
}
/*--header main start here--*/
.page-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
td{
	font-size : 13px;
}
.left-content {
    float: right;
    width: 85%;
}
.sidebar-menu {
  position: absolute;
  float: left;
  width: 15%;
  top: 0px;
  left:0px;
  bottom: 0;
  background-color:#111;
  color: #fff;
  z-index: 999;
}
#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
#menu li {
  position: relative;
  margin: 0;
  font-size: 12px;
  padding: 0;
}
#menu li ul {
  opacity: 0;
  height: 0px;
}
#menu li a {
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #FFFFFF;
    white-space: nowrap;
    z-index: 2;
    font-size: 1.12em;
    text-align: left;
    font-family: Tahoma;
    cursor : pointer;
}
#menu li a:hover {
  color:#fdbb30;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
#menu ul li { background-color:#111; }
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu li ul {
  position: absolute;
  visibility: hidden;
  left: 100%;
  top: 20px;
  background-color: #111;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.1s linear;
  border-top: 1px solid rgba(69, 74, 84, 0.7);
}
#menu li:hover > ul {
  visibility: visible;
  opacity: 1;
}
#menu .fa {
    margin-bottom: 10px;
    font-size: 1.5em;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 1px;
}
.menu {
    padding:4.2em 0em 0em 0em;
}
/*----*/
/*----*/
/*--nav strip start here--*/
.header-main {
    background:#fff;
    padding: 1em 2em;
}
.header-right {
    float: right;
    width: 50%;
}
.header-left {
    float: left;
    width: 45%;
}
.logo-name {
    float: left;
    width: 30%;
}
.logo-name h1 {
    font-size: 2em;
    color: #fc8213;
    margin: 0em;
    margin-top : 1px;
    margin-left : 5px;
    font-weight: 700;
    white-space: nowrap;
    text-decoration: none;
    font-family: Exo;
    text-shadow: 1px 0px #fc8213;
}
.logo-name a {
    display:inline-block;
}
/*start search*/
::-webkit-input-placeholder{
   color:#7A7B78 !important;
}
/*--//search-ends --*/
/*--- Progress Bar ----*/
/*--- User Panel---*/
.profile_details_left {
    float: left;
        width: 50%;
}
.dropdown-menu {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
	-moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    border-radius: 0;
}
li.dropdown.head-dpdn {
    display: inline-block;
    padding: 1em 0;    
	float: left;
}
li.dropdown.head-dpdn a.dropdown-toggle {
   margin: 1em 2em;
}
ul.dropdown-menu li {
    margin-left: 0;
    width: 100%;
    padding: 0;
	background: #fff;
}
.header-right i.fa.fa-envelope{
	color:#6F6F6F;
}
i.fa.fa-bell{
	color:#6F6F6F;
}
i.fa.fa-tasks{
	color:#6F6F6F;
}
/***** Messages *************/
.notification_header{
	background-color:#FAFAFA;
	padding: 10px 15px;
	border-bottom:1px solid rgba(0, 0, 0, 0.05);
	margin-bottom: 8px;
}
.notification_header h3{	
	color:#6A6A6A;
	font-size:12px;
	font-weight:600;
	margin:0;
}
.notification_bottom {
    background-color:rgba(93, 90, 88, 0.07);
    padding: 4px 0;
    text-align: center;
	margin-top: 5px;
}
.notification_bottom a {
    color: #6F6F6F;
	 font-size: 1em;
}
.notification_bottom a:hover {
    color:#6164C1;
}
.user_img{
	float:left;
	width:19%;
}
.user_img img{
	max-width:100%;
	display:block;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
}
.notification_desc{
	float:left;
	width:70%;
	margin-left:5%;
}
.notification_desc p{
	color:#757575;
	font-size:13px;
	padding:2px 0;
}
.notification_desc p span{
	color:#979797 !important;
	font-size:11px;
}
/*---bages---*/
.header-right span.badge {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    background:#FC8213;
    line-height: 10px;
    width: 15px;
    height: 15px;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
    text-align: center;
    display: inline-block;
    position: absolute;
        top: 20%;
    padding: 2px 0 0;
    left: 54%;
}
.header-right span.blue{
	background-color:#337AB7;
}
.header-right span.blue1{
	background-color:#68AE00;
}
/*---//bages---*/
/*--Progress bars--*/
.progress {
    height: 10px;
    margin: 7px 0;
    overflow: hidden;
    background: #e1e1e1;
    z-index: 1;
    cursor: pointer;
}
.task-info .percentage{
	float:right;
	height:inherit;
	line-height:inherit;
}
.task-desc{
	font-size:12px;
}
.progress .bar {
		z-index: 2;
		height:15px; 
		font-size: 12px;
		color: white;
		text-align: center;
		float:left;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
		-webkit-transition: width 0.6s ease;
		  -moz-transition: width 0.6s ease;
		  -o-transition: width 0.6s ease;
		  transition: width 0.6s ease;
	}
.progress-striped .yellow{
	background:#f0ad4e;
} 
.progress-striped .green{
	background:#5cb85c;
} 
.progress-striped .red{
	background:#d9534f;
} 
.progress-striped .blue{
	background:#428bca;
}
.progress-striped .bar {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
/*--Progress bars--*/
/********* profile details **********/
ul.dropdown-menu.drp-mnu i.fa {
    margin-right: 0.5em;
}
ul.dropdown-menu {
    padding: 0;
    min-width: 230px;
    top:101%;
}
.dropdown-menu > li > a {
    padding: 3px 15px;
	font-size: 1em;
}
.profile_details {
    float: right;
}
.profile_details_drop .fa.fa-angle-up{
	display:none;
}
.profile_details_drop a.dropdown-toggle {
    display:block;
	padding:0em 3em 0 1em;
}
.profile_img span.prfil-img{
	float:left;
}
.user-name{
	 float:left;
	 margin-top:7px;
	 margin-left:11px;
	 height:35px;
}
.profile_details ul li{
	list-style-type:none;
	position:relative;
}
.profile_details li a i.fa.lnr {
    position: absolute;
    top: 34%;
    right: 8%;
    color: #68AE00;
    font-size: 1.6em;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
    padding: 1em;
    min-width: 190px;
    top: 56%;
    left: -16%;
}
ul.dropdown-menu.drp-mnu li {
    list-style-type: none;
    padding: 3px 0;
}
.user-name p{
	font-size:1em;
	color:#FC8213;
	line-height:1em;
	font-weight:700;
}
.user-name span {
    font-size: .75em;
    font-style: italic;
    color: #180101;
    font-weight: normal;
    margin-top: .3em;
}
.profile_details ul {
    padding: 0px;
}
/*--header strip end here-*/
/*inner-block--*/
.inner-block {
    background: #fafafa;
    width : 100%;
    margin-left : auto;
    margin-right : auto;
    padding : 1em 1em 1em 1em;
}
.market-update-block {
    padding: 2em 2em;
    background: #999;
}
.market-update-block h3 {
    color: #fff;
    font-size: 2.5em;
    font-family: 'Exo', sans-serif;
}
.market-update-block h4 {
	font-size: 15px;
    color: #fff;
    margin: 0.3em 0em;
   font-family: Tahoma;
}
.market-update-block.clr-block-1 {
    background: #68ae00;
    margin-right: 0.8em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-block.clr-block-2 {
    background:#FC8213;
    margin-right: 0.8em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-block.clr-block-3 {
    background:#337AB7;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-block.clr-block-1:hover, .market-update-block.clr-block-2:hover, .market-update-block.clr-block-3:hover{
    background: #180101;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-right i.fa.fa-user {
    font-size: 3em;
    color:#68AE00;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius:49px;
    -o-border-radius:49px;
    line-height: 1.7em;
}
.market-update-right i.fa.fa-eye {
     font-size: 3em;
    color:#FC8213;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius:49px;
    -o-border-radius:49px;
    line-height: 1.7em;
}
.market-update-right i.fa.fa-envelope-o {
     font-size:3em;
    color:#337AB7;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius:49px;
    -o-border-radius:49px;
    line-height: 1.7em;
}
.market-update-left {
    padding: 0px;
}
/*--main page charts strat here--*/
/*--chart layer-1 left--*/

.glocy-chart {
   box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
   padding: 1em 0.55em;
   background: #fff;
}
canvas#bar {
    width: 584px !important;
    height: 300px !important;
}
h3.tlt {
    font-size: 1.2em;
    margin-bottom: 0.8em;
    font-weight: bold;
    color: #180101;
    text-transform: uppercase;
   font-family: Arial;
}

h3 .fa-shopping-cart {
	position: relative;
    top: -1px;
}
/*--chart-layer1-right start--*/
/*--moveing effect prograce bars--*/
/*--chartlayer 2 start here--*/
/*--maloum grid start here--*/
.malorum-top {
    background: url(../images/1.jpg)no-repeat;
    background-size: cover;
    min-height:190px;
}
.malorm-bottom {
    padding:1.5em 2em;
    position:relative;
    background: #fff;
}
.malorm-bottom h2 {
    font-size: 1.5em;
    color:#68AE00;
    text-align: center;
    margin-bottom: 0.5em;
    font-family: 'Exo', sans-serif;
}
.malorm-bottom h4 {
    font-size: 1em;
    margin: 0.5em 0em;
    color:#FC8213;
    font-family: 'Exo', sans-serif;
}
.malorm-bottom p {
    font-size: 1em;
    color: #180101;
    line-height: 1.8em;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.user-marorm {
   box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
}
/*--chit chart layer start here--*/
.chit-chat-layer1 {
    margin:2em  0em;
}
.chit-chat-heading {
    font-weight: 700;
    color: #180101;
    text-transform: uppercase;
    margin-bottom: 5px;
   font-family: 'Exo', sans-serif;
}
.work-progres {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    padding: 1.34em 0.5em;
    background: #fff;
}
/*--geochart start here--*/
/*--climate start here--*/
/*--climate end here--*/
/*--copyrights start here--*/
.copyrights {
    padding: 1.5em 1em;
    text-align: center;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
}
.copyrights p {
    font-size: 1em;
    color: #180101;
}
.copyrights p a{
    color: #180101;
}
.copyrights p a:hover{
    color:#68AE00;
}
/*--grids start here--*/
/*-- grids --*/
/*--portlet start here--*/
/*--portlet end here--*/
/*--button start here--*/
/*--button end here--*/
/*--icons --*/
/*--//icons--*/
/*--typography--*/
/*--login page--*/
/*--*/
/*--login page end here--*/
/*--signup page start here--*/
/*--signup page end here--*/
/*--maps start here--*/
/*--maps end here--*/
/*--balank page start here--*/
/*--blank page end here--*/
/*--charts start here--*/

/*--charts end here--*/
/*--error page start here--*/
/*--inbox start here--*/
/*--inbox end here--*/
/*--inbox details--*/
/*--inbox details--*/
/*--product start here--*/
/*--light-box--*/
/*--product end here--*/
/*--prices start here--*/
/*--pricing-grids--*/
/*---start-pricing-tabels-----*/
/*-----*/
/*-----*/

/* start state */
/* animate in */
/* animate out */
/* Dark overlay, start state */
/* animate in */
/* animate out */
/**
/* Magnific Popup CSS */

::-webkit-scrollbar {
  width: 7px;
}
 
::-webkit-scrollbar-thumb {
  background: #ff9b05;
}

::-webkit-scrollbar-track {
  background: #f4efe9;
}

::-webkit-scrollbar-button {
  background: #ff9b05;
  height: 7px;
}

/*--prices end here--*/
/*--meadia quiries start here--*/
@media (max-width:1440px){
canvas#bar {
    width: 515px !important;
}
.malorm-bottom p {
    width: 90%;
}
}
@media (max-width:1366px){
canvas#bar {
    width: 485px !important;
}
#menu li a {
    padding: 12px 20px;
}
li.dropdown.head-dpdn a.dropdown-toggle {
    margin: 1em 1.8em;
}

#menu .fa {
    margin-bottom: 3px;
}
}
@media (max-width:1280px){
.left-content {
    width: 80%;
}
.sidebar-menu{
	width : 20%;
}
.market-update-right {
    padding: 0px;
}
.malorm-bottom p {
    width: 100%;
}
canvas#bar {
    width: 360px !important;
}
li.dropdown.head-dpdn a.dropdown-toggle {
   margin: 1em 1.6em;
}
}
@media (max-width:1024px){

.logo-name {
    float: left;
    width: 30%;
}
.logo-name {
    width: 37%;
}
li.dropdown.head-dpdn a.dropdown-toggle {
   margin: 1em 1.1em;
}
.profile_details {
    float: right;
    width: 50%;
}
.profile_details_drop a.dropdown-toggle {
    display: block;
    padding: 0em 2em 0 1em;
}
.market-update-block h4 {
    font-size: 13px;
}
.market-update-block {
    padding: 1.5em 1.5em;
}
.market-update-right i.fa.fa-user {
    font-size: 2em;
    width: 60px;
    height: 60px;
    margin-top: 0.7em;
}
.market-update-right i.fa.fa-eye{
	font-size: 2em;
    width: 60px;
    height: 60px;
    margin-top: 0.7em;
}
.market-update-right i.fa.fa-envelope-o {
	font-size: 2em;
    width: 60px;
    height: 60px;
    margin-top: 0.7em;
}
.malorm-bottom p {
    font-size: 0.8em;
}
canvas#bar {
    width: 341px !important;
    height: 280px !important;
}
.malorum-top {
    min-height: 176px;
}
.chit-chat-layer1-left {
    padding: 0em 0.5em 0em 0em;
}
.market-update-gd {
    padding: 0px;
}
.chart-layer1-left {
    padding: 0em 0.5em 0em 0em;
}
.chart-layer1-right {
    padding: 0em 0em 0em 0.5em;
}
.table > thead > tr > th, .table > tbody > tr > td {
    font-size: 0.86em;
}
.profile_details_left ul {
    padding: 0px;
}
}
@media (max-width:991px){
.left-content {
    width: 75%;
}
.sidebar-menu{
	width : 25%;
}
.market-update-gd {
    float: left;
    width: 33%;
    text-align: center;
}	
/*--logoname--*/
.logo-name {
    width: 39%;
}
.logo-name h1 {
    font-size: 1.7em;
}
li.dropdown.head-dpdn a.dropdown-toggle {
    margin: 1em 1em;
}
.profile_details_drop a.dropdown-toggle {
    padding: 0em 0em 0 0em;
}
.profile_details li a i.fa.lnr {
    top: 20%;
    right: 0%;
}
.market-update-gd {
    float: left;
    width: 30%;
    text-align: center;
}
.market-update-block {
    padding: 1em 1em;
}
.market-update-right i.fa.fa-user {
    font-size: 2em;
    width: 60px;
    height: 60px;
    line-height: 1.9em;
    margin-top: 0px;
}
.market-update-right i.fa.fa-eye{
	font-size: 2em;
    width: 60px;
    height: 60px;
    line-height: 1.9em;
     margin-top: 0em;
}
.market-update-right i.fa.fa-envelope-o{
	font-size: 2em;
    width: 60px;
    height: 60px;
    line-height: 1.9em;
    margin-top: 0px;
}
.market-update-left {
    padding-bottom: 0.8em;
}
.market-update-block h3 {
    font-size: 2em;
}
.chit-chat-layer1-left {
    padding: 0em 0em 2em 0em;
}
.chart-layer1-left {
    padding: 0em 0em 0em 0em;
    float: left;
    width: 49%;
}
.chart-layer1-right {
    padding: 0px;
    float: right;
    width: 49%;
}
canvas#bar {
    width: 260px !important;
    height: 240px !important;
}
.malorm-bottom {
    padding: 1.5em 1em;
}
.malorm-bottom p {
    font-size: 0.75em;
}
.malorm-bottom h2 {
    font-size: 1.2em;
}
.malorm-bottom h4 {
    font-size: 0.85em;
}
.malorum-top {
    min-height: 156px;
}
}
@media (max-width:768px){
.page-container {
	min-width:650px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: 0px auto;
 }
.sidebar-menu {
	position:absolute;
	float: left;
	width: 170px;
}
.left-content {
    width: 88%;
    margin-right: 2%;
}
#menu li a {
    padding: 20px 20px;
    text-align: left !important;
}
#menu .fa {
    margin-bottom: 9px;
}
				#menu span {
				opacity:0;
				transition: all 50ms linear;
				display: block;
				
			}
			span.fa.fa-angle-right {
				
				
				right: 12px!important;
			}
            .sidebar-menu {
				width: 65px;
				transition: all 100ms ease-in-out;
				transition-delay: 300ms;
			}

}			
@media (max-width:736px){
.malorm-bottom p {
    font-size: 0.7em;
}
}
@media (max-width:667px){
li.dropdown.head-dpdn a.dropdown-toggle {
    margin: 1em 0.9em;
}
.user-name {
    margin-left: 5px;	
}
canvas#bar {
    width: 238px !important;
}
.logo-name h1 {
    font-size: 1.6em;
}
}
@media (max-width:640px){
.header-left {
    float: none;
    width: 100%;
    margin-bottom: 0.4em;
}
.header-right {
    float: none;
    width: 95%;
}
.logo-name h1 {
    font-size: 1.9em;
}
.logo-name h1 {
    font-size: 1.6em;
}
.chart-layer1-left {
    padding: 0em 0em 2em 0em;
    float: none;
    width: 100%;
}
canvas#bar {
    width: 500px !important;
}
.chart-layer1-right {
    float: none;
    width: 100%;
}
canvas#bar {
    width: 475px !important;
}
.page-container {
    min-width: 640px;
}
}
@media (max-width:600px){
.page-container {
    min-width: 600px;
}
canvas#bar {
    width: 445px !important;
}
}
@media (max-width:568px){
.page-container {
    min-width: 520px;
}
canvas#bar {
    width: 409px !important;
}
}
@media (max-width:480px){
.page-container {
    min-width: 495px;
}
.market-update-block h3 {
    font-size: 1em;
}
.market-update-gd {
    float: none;
    width: 70%;
    height: 65px;
    overflow: hidden;
    margin-left : auto;
    margin-right : auto;
    margin-bottom: 10px;	
}
.left-content {
    width: 85%;
}
.market-update-block.clr-block-1 {
    margin: 0em 0em 1em 0em;
}
.market-update-block.clr-block-2 {
    margin: 0em 0em 1em 0em;
}
canvas#bar {
    width: 335px !important;
}
.page-container {
    min-width: 455px;
}

.chit-chat-layer1 {
    margin: 0.5em 0em;
}
.chit-chat-layer1-left {
    padding: 0em 0em 1em 0em;
}
.chart-layer1-left {
    padding: 0em 0em 1em 0em;
}
canvas#bar {
    width: 350px !important;
}
.profile_details li a i.fa.lnr {
    right: 15%;
    top: 45px;
}
.copyrights p {
    font-size: 0.9em;
}
}
@media (max-width:414px){
 .profile_details li a i.fa.lnr {
    top: 30px;
}
.page-container {
    min-width: 410px;
}
canvas#bar {
    width: 295px !important;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
    min-width: 165px;
}
}
@media (max-width:384px){
.page-container {
    min-width: 380px;
}
.left-content {
    width: 83%;
}
canvas#bar {
    width: 275px !important;
}
.header-main {
    padding: 1em 1em;	
}
.logo-name h1 {
    font-size: 1.6em;
    margin-top: 0em;
}
canvas#bar {
    width: 230px !important;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
    min-width: 146px;
}
ul.dropdown-menu {
    min-width: 198px;
}
}
@media (max-width:375px){
.page-container {
    min-width: 345px;
}
}
@media (max-width:320px){
.page-container {
    min-width: 303px;
}
.logo-name h1 {
    font-size: 1.4em;
}
.left-content {
    width: 86%;
}
.header-main {
    padding: 1em 0.5em;	
}
li.dropdown.head-dpdn a.dropdown-toggle {
    margin: 1em 0.4em;
}
.profile_details_left {
    width: 40%;
}
.profile_details {
    width: 60%;
}
.user-name {
    margin-left: 2px;
}
.profile_details li a i.fa.lnr {
    right: 1%;
     top: 45px;
}
.chit-chat-heading {
    font-size: 1em;
}
.glocy-chart {
    padding: 1em 1em;
}
canvas#bar {
    width: 195px !important;
    height: 150px !important;
}
.malorum-top {
    min-height: 100px;
}
.malorm-bottom {
    padding: 1.5em 0.8em;
}
.malorm-bottom h2 {
    font-size: 1em;
}
h3.tlt {
    font-size: 1em;
}
.copyrights p {
    font-size: 0.8em;
}
.sidebar-menu {
    width: 45px;
}
#menu li a {
    padding: 15px 10px;
    font-size: 1em;
}
ul.dropdown-menu {
    min-width: 195px;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
    min-width: 160px;
}
}